@{
    Layout = "~/Views/Shared/_Layout_Afterlogin.cshtml";
}
<script src="DropzoneJs_scripts/jquery.min.js"></script>
<script src="DropzoneJs_scripts/dropzone.js"></script>
<link href="DropzoneJs_scripts/dropzone.css" rel="stylesheet" />
<section class="wel_lock">
    <div class="container">
        <div class="lock_hdr">
            <i class="fa fa-file" aria-hidden="true"></i>
            <h4>
                WealthLocker
            </h4>
        </div>
        <div class="yur_dashe">
            <div class="yur_dashe_in">
                <h4>Your Dashboard</h4>
                <div class="uplod_docu">
                    <a href="/Documents/UploadedDocuments" class="uplod_docu_anch">
                        <em>@ViewBag.documentCount</em>
                        <span>Uploaded Documents</span>
                    </a>
                    <div class="up_sec">

                        <button class="upload_btnn" data-toggle="modal" data-target="#exampleModalLong2"> Upload File</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<div class="modal model_pop_up fade up_wel_fl" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header"> -->
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- </button> -->
            <!-- </div> -->
            <div class="modal-body">
                <h4>Uploaded Documents</h4>
                <div class="fol_upload">



                    <div class="store_document-outr">

                        <div class="documents-field">
                            <div class="doco_type_box">
                                <div class="doc_title">Document Type:</div>
                                <div class="doc_title_field">
                                    <div class="select-box">


                                        <select class="form-control" id="dctype">
                                            <option>Select Document Type</option>
                                            <option value="Pan">Pan</option>
                                            <option value="Adhar">Aadhar</option>
                                            <option value="Passport">Passport</option>
                                            <option value="Driving Licence">Driving Licence</option>
                                            <option value="LIC">LIC</option>
                                            <option value="Mediclaim">Mediclaim</option>
                                            <option value="Voter Id card">Voter Id card</option>
                                            <option value="Company Identity card">Company Identity card</option>
                                        </select>
                                        <label id="span_redeemType" class="errormsg hide">Please select redeemption type.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="doco_type_box">
                                <div class="doc_title">Document Title:</div>
                                <div class="doc_title_field"><input type="text" placeholder="" id="docName" /></div>

                            </div>
                            <div class="doco_type_box">
                                <input type="button" value="Close" id="btncls" />
                                @*<div class="up_sec_fol">
                                        <div class="custom-file-upload">
                                            <input type="file" id="file" name="myfiles[]" />
                                        </div>
                                    </div>*@

                            </div>
                            <!--Test-->
                            @*<div class="doco_type_box">
                                    <div class="doc_title">Document Type:</div>
                                    <div class="doc_title_field">
                                        <div class="jumbotron">
                                            <form action="~/Home/Upload"
                                                  class="dropzone"
                                                  id="dropzoneJsForm"
                                                  style="background-color:#00BFFF"></form><button id="submit-all">
                                                Submit All Files
                                            </button>
                                        </div>
                                    </div>
                                </div>*@
                            <!--Test-->
                        </div>
                        <!--Test2-->
                        <div class="documents-field">
                            <div class="doco_type_box">
                                <div class="doc_title">Document Type:</div>
                                <div class="doc_title_field">
                                    <div class="jumbotron" style="background-color:white">
                                        <form action="~/Documents/Upload"
                                              class="dropzone"
                                              id="dropzoneJsForm"
                                              style="background-color:cornsilk"></form>@*<button id="submit-all">
                                                Submit All Files
                                            </button>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--Test2-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui-loader ui-loader-default hide">
        <span class="ui-icon ui-icon-loading"></span>
    </div>
    <div class="kyc-loader kyc-loader-default hide">
        <span class="kyc-icon kyc-icon-loading"></span>
    </div>
    <script type="text/javascript">
        $(document).on("click", "#btncls", function () {
            //$("#dropzoneJsForm").empty();
            window.location.reload();
        })
    </script>
    <script type="text/javascript">
    //for dropdown
    $(document).ready(function () {
        $("#dctype").change(function () {
            var doctype = $(this).val();
            if (window.FormData !== undefined) {
                var fdata = new FormData();
                fdata.append("_dctype",doctype);
                $.ajax({
                type: "POST",
                    url: '@Url.Action("forDropDown","Documents")',
                    contentType: false,
                    processData: false,
                    data: fdata,
                    dataType: "Json",
                    success: function (data) {
                        //alert(data);
                    },
                    error: function () {

                    }
            })
            }

        })
        //for doctitle
        $("#docName").blur(function () {
            var docTitle = $(this).val();
             if (window.FormData !== undefined) {
                var fdata = new FormData();
                fdata.append("_docTitle",docTitle);
                $.ajax({
                type: "POST",
                    url: '@Url.Action("DocTitle","Documents")',
                    contentType: false,
                    processData: false,
                    data: fdata,
                    dataType: "Json",
                    success: function (data) {
                        //alert(data);
                    },
                    error: function () {

                    }
            })
            }
        })
    })
    </script>
    <script>
        $(document).ready(function () {
            $("#exampleModalLong2").on('hide.bs.modal', function () {
                window.location.reload();
                //actions you want to perform after modal is closed.
            });
        });
    </script>
    <script type="text/javascript">
        $(document).on("click", "#btn1", function () {
            alert("Hi");
            window.location.reload();
        })

    </script>

